@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #111;
	font-family: "Open Sans";
}

header {
	padding-left: 150px;
	padding-top: 25px;
	margin-bottom: -120px;
	background-image: url(../images/headboard.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 429px;
}

header h2 {
	color: #FFF;
}

header h4 {
	color: #999;

}

h1, h2, h3, h4, h5 {
	font-family: "Open Sans";
}

.post {
	background-color: rgba(255,255,255,1);
	padding: 20 50 20 50;
	border-radius: 2px;
	margin-bottom: 40px;
}

.post h2 {
	margin-bottom: 20px;
	margin-left: -10px;
}

footer {
	padding: 20px;
	text-align: center;
	color: #999;
	margin-top: 50px;
}

.row {
	max-width: 1200px;
}

.menu {
	padding: 15 10 20 20;
	margin-bottom: 20px;
	border-radius: 2px;
	background-color: rgba(255,255,255,1);
}

.entry {
	margin-top: 10px;
	padding-left: 30px;
}

.headline {
	font-weight: bold;
}

.post .headline {
	margin-top: 30px; 
}

ul {
	padding-left: 20px;
}

img {
	padding-right: 30px;
}

.caption {
	padding-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-style: italic;
	color: #555;
}
